---
import Layout from '../components/Layout.astro'
import Navegacion from '../components/Navegacion.astro'
---

<Layout pageTitle="Inicio">
	<main class="contenedor grid auto-cols-max grid-cols-12 mt-24 m-auto">
		<section class="col_left-servicios col-span-12 md:col-span-6 p-12 grid auto-cols-max grid-cols-12 gap-4" id="servicios">
			<div class="thumb_middle col-span-12">
				<img src="/odontopediatra-doctora-andrea-flores/odontopediatra-doctora-andrea-flores.jpg" alt="">
				<h1 class="mt-4 font-bold text-xl">Dra. Andrea Flores | Especialista en Odontopediatría <br> y Ortopedia Maxilar</h1>
				<div class="desc mt-8">
					<p class="text-xl">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in ante a urna vestibulum sagittis ac at erat. Nulla metus ante, sollicitudin id gravida id, facilisis nec sem. Donec porta porttitor diam, vitae tempus massa pellentesque vel. Nulla facilisi. Praesent eu egestas urna. Nam imperdiet eros quis elit pellentesque, nec pharetra eros consequat. Fusce egestas tincidunt erat, eget placerat ante tempus id. Mauris consectetur vitae ipsum non placerat.
						<br><br>
						Aliquam ornare augue vitae felis pretium, at maximus risus fringilla. Nulla dignissim velit quis diam aliquet, auctor feugiat nisi rhoncus. Donec luctus elit vel eros tempor mollis. Integer congue metus arcu, ut varius eros tempus imperdiet.
					</p>	
				</div>
			</div>
		</section>
		<aside class="col_right col-span-12 md:col-span-6 p-12 flex flex-col items-center justify-center bg-white">
			<header>
				<img class="w-48" src="/odontopediatra-doctora-andrea-flores/odontopediatra-andrea-flores-logotipo.png" alt="">
			</header>
			<Navegacion/>
		</aside>
	</main>
</Layout>



