---
import Layout from '../components/Layout.astro'
import Navegacion from '../components/Navegacion.astro'
---

<Layout pageTitle="Inicio">
	<main class="contenedor grid auto-cols-max grid-cols-12 mt-24">
		<section class="col_left col-span-12 md:col-span-6 p-12 order-2 md:order-1">
		</section>
		<aside class="col_right col-span-12 md:col-span-6 p-12 flex flex-col items-center justify-center bg-white order-1 md:order-2">
			<header>
				<img class="w-48" src="/odontopediatra-andrea-flores-logotipo.png" alt="">
			</header>
			<Navegacion/>
		</aside>
	</main>
</Layout>



