<!-- Componente Botón de WhatsApp -->
<a href="#">
    <div class="rounded-full bg-green-500 md:hover:bg-green-700 md:hover:transition-all flex justify-center gap-4 mt-6 p-3 text-white">
        <img class="w-10" src="/iconos/whatsapp-icon.svg" alt="">
        Contactar por WhatsApp
    </div>
</a>